.body-color {
    background-color: antiquewhite;
}

.logout-button {
    display: flex;
    justify-content: end;
}

.logout-button p {
    padding: 10px;
    background: azure;
    border-radius: 10px;
    margin-top: 10px;
}

.card-button {
    display: flex;
}

.text-color {
    color: white;
    text-decoration: none;
}